## [Start] Setting "done" to default value of "false". **
$util.qr($context.args.input.put("done", $util.defaultIfNull($ctx.args.input.done, false)))
## [End] Setting "done" to default value of "false". **
## [Start] Setting "archived" to default value of "false". **
$util.qr($context.args.input.put("archived", $util.defaultIfNull($ctx.args.input.archived, false)))
## [End] Setting "archived" to default value of "false". **
## [Start] Setting "isRepeating" to default value of "false". **
$util.qr($context.args.input.put("isRepeating", $util.defaultIfNull($ctx.args.input.isRepeating, false)))
## [End] Setting "isRepeating" to default value of "false". **
{}